<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>avatar</key>
	<string>Avatar</string>
	<key>name</key>
	<string>Rodrigo Andrade</string>
	<key>job</key>
	<string>iOS Developer on BEPiD (Brazilian Education Program for iOS Development)</string>
	<key>location</key>
	<dict>
		<key>name</key>
		<string>Porto Alegre, RS, Brazil</string>
		<key>latitude</key>
		<real>-30.031391</real>
		<key>longitude</key>
		<real>-51.20568</real>
	</dict>
	<key>skills</key>
	<dict>
		<key>Working</key>
		<array>
			<dict>
				<key>photo</key>
				<string>GrupoRBS</string>
				<key>name</key>
				<string>Grupo RBS</string>
				<key>title</key>
				<string>iOS Software Engineer / Tech Leader</string>
				<key>detail</key>
				<string>iOS developer and technical leader for mobile teams. Creation of RBS&apos; mobile team and iOS development.</string>
				<key>since</key>
				<date>2011-01-03T02:00:00Z</date>
				<key>link</key>
				<string>https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile</string>
			</dict>
			<dict>
				<key>photo</key>
				<string></string>
				<key>name</key>
				<string>MobiMarket</string>
				<key>title</key>
				<string>iOS Developer</string>
				<key>detail</key>
				<string>I&apos;ve worked full-time from Home Office for MobiMarket, and created Apps like Estadão, Caras, Valor Econômico, McDonald&apos;s etc.</string>
				<key>since</key>
				<date>2015-04-19T19:03:37Z</date>
				<key>link</key>
				<string>https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile</string>
			</dict>
		</array>
		<key>Apps</key>
		<array>
			<dict>
				<key>photo</key>
				<string>GremistaZH</string>
				<key>name</key>
				<string>Gremista ZH</string>
				<key>title</key>
				<string>App for whose goal is to allow fans to follow their favorite team from anywhere.</string>
				<key>detail</key>
				<string>App for whose goal is to allow fans to follow their favorite team from anywhere. Through this app, fans can read news, watch videos, view the team&apos;s schedule, follow championships, receive notifications and check the matches statistics in real time.</string>
				<key>since</key>
				<date>2013-05-22T03:00:00Z</date>
				<key>link</key>
				<string>https://itunes.apple.com/br/app/contabil/id327237594?l=en&amp;mt=8</string>
			</dict>
			<dict>
				<key>photo</key>
				<string>ColoradoZH</string>
				<key>name</key>
				<string>Colorado ZH</string>
				<key>title</key>
				<string>App for whose goal is to allow fans to follow their favorite team from anywhere.</string>
				<key>detail</key>
				<string>App for whose goal is to allow fans to follow their favorite team from anywhere. Through this app, fans can read news, watch videos, view the team&apos;s schedule, follow championships, receive notifications and check the matches statistics in real time.</string>
				<key>since</key>
				<date>2013-05-22T03:00:00Z</date>
				<key>link</key>
				<string>https://itunes.apple.com/br/app/colorado-zh/id650060590?l=en&amp;mt=8</string>
			</dict>
			<dict>
				<key>photo</key>
				<string>ZeroHora</string>
				<key>name</key>
				<string>Zero Hora</string>
				<key>title</key>
				<string>App for iPhone and iPad of the main newspaper in RS, Southern Brazil.</string>
				<key>detail</key>
				<string></string>
				<key>since</key>
				<date>2013-01-02T02:00:00Z</date>
				<key>link</key>
				<string>https://itunes.apple.com/br/app/zero-hora/id415470445?l=en&amp;mt=8</string>
			</dict>
			<dict>
				<key>photo</key>
				<string>Contabil</string>
				<key>name</key>
				<string>Contábil</string>
				<key>title</key>
				<string>App for calculation of taxes of Brazilian workers</string>
				<key>detail</key>
				<string></string>
				<key>since</key>
				<date>2009-08-29T03:00:00Z</date>
				<key>link</key>
				<string>https://itunes.apple.com/br/app/contabil/id327237594?l=en&amp;mt=8</string>
			</dict>
			<dict>
				<key>photo</key>
				<string>Entregas</string>
				<key>name</key>
				<string>Entregas</string>
				<key>title</key>
				<string>First Brazilian application for shipping calculation of posts and orders tracking</string>
				<key>detail</key>
				<string></string>
				<key>since</key>
				<date>2009-07-05T03:00:00Z</date>
				<key>link</key>
				<string></string>
			</dict>
		</array>
		<key>Lectures</key>
		<array>
			<dict>
				<key>photo</key>
				<string>CocoaHeads</string>
				<key>name</key>
				<string>CocoaHeads</string>
				<key>title</key>
				<string>iOS Development with Unit Testes and Xcode Server</string>
				<key>detail</key>
				<string></string>
				<key>since</key>
				<date>2015-03-26T22:00:00Z</date>
				<key>link</key>
				<string>http://www.meetup.com/CocoaHeads-POA/events/221365549/</string>
			</dict>
			<dict>
				<key>photo</key>
				<string>Igrejinha</string>
				<key>name</key>
				<string>Igrejinha</string>
				<key>title</key>
				<string>Mobile market and iOS development</string>
				<key>detail</key>
				<string></string>
				<key>since</key>
				<date>2012-07-05T23:00:00Z</date>
				<key>link</key>
				<string></string>
			</dict>
			<dict>
				<key>photo</key>
				<string>SenacRS</string>
				<key>name</key>
				<string>SenacRS</string>
				<key>title</key>
				<string>Mobile market and iOS development</string>
				<key>detail</key>
				<string></string>
				<key>since</key>
				<date>2011-10-26T22:00:00Z</date>
				<key>link</key>
				<string></string>
			</dict>
		</array>
		<key>Education</key>
		<array>
			<dict>
				<key>photo</key>
				<string>senac-faculdade</string>
				<key>name</key>
				<string>Faculdade SENACRS</string>
				<key>title</key>
				<string>Software Analisis and Development, Technologist</string>
				<key>detail</key>
				<string></string>
				<key>since</key>
				<date>2007-03-05T22:15:00Z</date>
				<key>link</key>
				<string></string>
			</dict>
			<dict>
				<key>photo</key>
				<string>Ulbra</string>
				<key>name</key>
				<string>Ulbra University</string>
				<key>title</key>
				<string>Software Analisis and Development, Technologist</string>
				<key>detail</key>
				<string></string>
				<key>since</key>
				<date>2004-01-12T21:00:00Z</date>
				<key>link</key>
				<string></string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
